<!DOCTYPE html>
<html>
<head>
  <% include header %>
</head>
<body>

  <section class="is-fullheight">
    <div>
      <div class="container has-text-centered">
        <div class="column is-4 is-offset-4">
          <h3 class="title has-text-grey">Login</h3>
          <p class="subtitle has-text-grey">Please login to proceed.</p>
          <div class="box">
            <form>
              <div class="field">
                <p class="control has-icons-left has-icons-right">
                  <input class="input" type="email" placeholder="Email" id="userId">
                  <span class="icon is-small is-left">
                    <i class="fas fa-envelope"></i>
                  </span>
                  <span class="icon is-small is-right">
                    <i class="fas fa-check"></i>
                  </span>
                </p>
              </div>
              <div class="field">
                <p class="control has-icons-left">
                  <input class="input" type="password" placeholder="Password"  id="password">
                  <span class="icon is-small is-left">
                    <i class="fas fa-lock"></i>
                  </span>
                </p>
              </div>
              <div class="field">
                <label class="checkbox">
                  <input type="checkbox">
                  Remember me
                </label>
              </div>
              <a class="button is-block is-info is-large" id="signIn">Login</a>
            </form>
          </div>
          <p class="has-text-grey">
            <a id="signUp">Sign Up</a> &nbsp;·&nbsp;
            <a >Forgot Password</a>
          </p>
        </div>
      </div>
    </div>
  </section>

  <script>
    window.onload = function() {
      var signUp = document.getElementById('signUp');
      signUp.addEventListener("click", function(){
        moveUrl("/sign-up");
      }, false);

      var signInBtn = document.getElementById('signIn');
      signInBtn.addEventListener("click", function(){
        var userId = document.getElementById('userId').value;
        var password = document.getElementById('password').value;
        signIn(userId, password);
      }, false);
    }

    function signIn(userId, password) {
      var authenticationData = {
        Username : userId,
        Password : password
      };
      var authenticationDetails = new AWSCognito.CognitoIdentityServiceProvider.AuthenticationDetails(authenticationData);
      var userData = {
        Username : userId,
        Pool : USER_POOL
      };

      var cognitoUser = new AWSCognito.CognitoIdentityServiceProvider.CognitoUser(userData);
      cognitoUser.authenticateUser(authenticationDetails, {
        onSuccess: function (result) {
          localStorage["LoginedUserId"] = userId;
          moveUrl("/top");
        },
        onFailure: function(err) {
          alert(err);
        },
      });
    }
  </script>
</body>
</html>
